.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.contents {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    flex-direction: column;
	color: #000;
}

.mapContainer {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    flex-direction: column;
	color: #000;
}

.mapBar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px;
}

.datesContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    color: #fff;
}