.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.mapContainer {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 700px;
	color: #000;
}

.mapSidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px;
}
